<div class="container">
  <div class="section-title text-center">
    <h2>Contact With Us</h2>
    <h3>Please share your thoughts by contacting us using following form.</h3>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form id="contact" class="contact-form">
      
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input name="name" class="form-control" required="required" placeholder="Name" type="text">
            </div>
            <div class="form-group">
              <input name="email" id="email" class="form-control" required="required" placeholder="Email" type="email">
            </div>
            <div class="form-group">
              <input name="subject" id="subject" class="form-control" required="required" placeholder="Subject" type="text">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <textarea name="message" id="message" required="required" class="form-control" rows="7" placeholder="Message"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" name="submit" id="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Send Your Message</button>
        </div>
      </form>
    </div>
  </div>
</div>