<div class="container">
  <div class="section-title text-center">
    <h2>Discussion Forum</h2>
    <h3>Feel Free to discuss the book here</h3>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <!-- Question/Answer -->
      <div class="faq-box">
        <div class="question-q-box">Q</div>
        <h3 class="question text-white" data-wow-delay=".1s">Topic 1</h3>
        <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <!-- Question/Answer -->
      <div class="faq-box">
        <div class="question-q-box">Q</div>
        <h4 class="question text-white">Topic 1</h4>
        <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
      </div>
      <!-- Question/Answer -->
      <div class="faq-box">
        <div class="question-q-box">Q</div>
        <h3 class="question text-white">Topic 1</h3>
        <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
    </div>
    <div class="col-md-5">
      <!-- Question/Answer -->
      <div class="faq-box">
        <div class="question-q-box">Q</div>
        <h4 class="question text-white">Topic 1</h4>
        <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <!-- Question/Answer -->
      <div class="faq-box">
        <div class="question-q-box">Q</div>
        <h4 class="question text-white">Topic 1</h4>
        <p class="answer">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
      </div>
      <!-- Question/Answer -->
      <div class="faq-box">
        <div class="question-q-box">Q</div>
        <h4 class="question text-white">Topic 1</h4>
        <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
    </div>
  </div>
</div>