<div class="container">
  <div class="section-title text-center">
    <h2>People's Comment</h2>
    <h3>Some testimonials for the book.</h3>
  </div>
  <div class="carousel slide" data-ride="carousel" id="quote-carousel">
    <!-- Carousel Slides / Quotes -->
    <div class="carousel-inner text-center">
      <!-- Quote 1 -->
      <div class="item active">
        <blockquote>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>Truly Remarkable,  I could not put the book down Once I started reading it.</p> <strong>Kathy . H</strong>
              <!--<small>CEO,ENVATO</small>-->
            </div>
          </div>
        </blockquote>
      </div>
      <!-- Quote 2 -->
      <div class="item">
        <blockquote>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>Sensational,  People of all races need this kind of insight. </p> <strong>Julia Plonski</strong>
              <!--<small>CEO,ENVATO</small>-->
            </div>
          </div>
        </blockquote>
      </div>
      <!-- Quote 3 -->
      <div class="item">
        <blockquote>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>Thanks,  I am more rounded in my thinking this is really good.</p> <strong>David D</strong>
              <!--<small>CEO,ENVATO</small>-->
            </div>
          </div>
        </blockquote>
      </div>
    </div>
    <!-- Bottom Carousel Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#quote-carousel" data-slide-to="0" class="active">
        <img class="img-responsive " src="../../assets/img/testimonial/img-1.jpg" alt="">
      </li>
      <li data-target="#quote-carousel" data-slide-to="1">
        <img class="img-responsive" src="../../assets/img/testimonial/img-2.jpg" alt="">
      </li>
      <li data-target="#quote-carousel" data-slide-to="2">
        <img class="img-responsive" src="../../assets/img/testimonial/img-3.jpg" alt="">
      </li>
    </ol>
  </div>
  <!-- Featured On -->
  <div class="row featured-on wow fadeInDown" data-wow-delay="300ms">
    <div class="col-sm-4">
      <h2>This book Featured on</h2>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-3 col-xs-6 brand-logo">
          <img src="../../assets/img/brand-logo/img-1.png" class="img-responsive grayscale" alt="">
        </div>
        <div class="col-sm-3 col-xs-6 brand-logo">
          <img src="../../assets/img/brand-logo/img-2.png" class="img-responsive grayscale" alt="">
        </div>
        <div class="col-sm-3 col-xs-6 brand-logo">
          <img src="../../assets/img/brand-logo/img-3.png" class="img-responsive grayscale" alt="">
        </div>
        <div class="col-sm-3 col-xs-6 brand-logo">
          <img src="../../assets/img/brand-logo/img-4.png" class="img-responsive grayscale" alt="">
        </div>
      </div>
    </div>
  </div> 
</div>