<div class="container">
  <div class="section-title text-center">
    <h2>Related More Books</h2>
    <h3>Lorem ipsum dolor sit amet</h3>
  </div>
  <div class="row">
    <div class="col-sm-3 padding-bottom-30">
      <h3>Related More Books</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id suscipit, consequatur tempora iusto repudiandae!</p> <a href="#" class="btn btn-primary">More Books</a>
    </div>
    <div class="col-sm-9">
      <div class="book-carousel owl-carousel owl-theme">
        <div class="item more-book">
          <a href="#">
            <img class="img-responsive center-block grayscale" src="../assets/img/more-book/book-1.png" alt="">
          </a>
        </div>
        <div class="item more-book">
          <a href="#">
            <img class="img-responsive center-block grayscale" src="../assets/img/more-book/book-2.png" alt="">
          </a>
        </div>
        <div class="item more-book">
          <a href="#">
            <img class="img-responsive center-block grayscale" src="../assets/img/more-book/book-3.png" alt="">
          </a>
        </div>
        <div class="item more-book">
          <a href="#">
            <img class="img-responsive center-block grayscale" src="../assets/img/more-book/book-1.png" alt="">
          </a>
        </div>
        <div class="item more-book">
          <a href="#">
            <img class="img-responsive center-block grayscale" src="../assets/img/more-book/book-2.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>