    <!--#footer-->
    <footer id="footer">
        <div class="container">
          <!--<div class="footer-logo text-center">
            <img class="responsive-img" src="../assets/img/logo.png" alt="">
          </div>-->
          <ul class="social-links text-center">
            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
            <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
          <div class="row">
            <div class="col-sm-6">
              <div class="footer-menu">
                <ul class="nav navbar-nav">
                  <li><a href="#">Trams & Conditon</a>
                  </li>
                  <li><a href="#">Privacy</a>
                  </li>
                  <li><a href="#">About</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <p class="copyright text-right">&copy; 2019-2020 Copyright by <a href="#"><strong> link </strong></a>
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!--/#footer-->