
  <!--count-success-->
	<section id="about-book-image" class="parallax-section text-center">
    <div class="overlay"></div>
    <div class="parallax-content">
      <div class="container">
        <h2>About This Book</h2>
        
        <p>Coleman Lauderdale's insight  is piercing. He gives us a raw interpretation on  the impact that systemic racism and hate and how it has shaped the psyche of African Americans and white Americans in general.  This is a book for all times. His unique way of demonstrating how this systemic impact is pronounced,in the social behavior and economic disparage between whites and Blacks,,cleverly illustrates, how and why the racial stalemate in America seems so inconquerable today.</p>
        
        <div class="row count">
          <div class="col-xs-4"> <i class="fa fa-line-chart"></i>
            <h3>Total Sell</h3>
            <h3 class="timer">1521</h3>
          </div>
          <div class="col-xs-4"> <i class="fa fa-cart-plus"></i>
            <h3>Process in Order</h3>
            <h3 class="timer">921</h3>
          </div>
          <div class="col-xs-4"> <i class="fa fa-diamond"></i>
            <h3>Award Winner</h3>
            <h3 class="timer">21</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/count-success-->
  <!--#about-book-image-->
  <section id="about-book-image" class="section-padding">
    <div class="container">
      <div class="section-title text-center">
        <h2>About This Book </h2>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 padding-bottom-30 wow fadeInLeft" data-wow-delay="300ms">
          <img class="img-responsive center-block" src="../assets/img/about-img.png" alt="">
        </div>
        <div class="col-sm-5 wow fadeIn" data-wow-delay="300ms">
          <div class="about-right">
            <p>Coleman Lauderdale's insight  is piercing. He gives us a raw interpretation on  the impact that systemic racism and hate and how it has shaped the psyche of African Americans and white Americans in general.  This is a book for all times. His unique way of demonstrating how this systemic impact is pronounced,in the social behavior and economic disparage between whites and Blacks,,cleverly illustrates, how and why the racial stalemate in America seems so inconquerable today.</p>
            <h3>Benefits Of App</h3>
            <ul class="list-unstyled about-book-list">
              <li> <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-external-link" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-comments-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!--/#about-book-image-->
  	
	<!--#about-book-video-->
	<section id="about-book-video" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="about-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h3>Benefits Of App</h3>
            <ul class="list-unstyled about-book-list">
              <li> <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-external-link" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
              <li> <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="book-video">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97837721" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#about-book2-->
 