<div class="container">
  <div class="section-title text-center">
    <h2>About Author</h2>
    <h3>Coleman G Lauderdale</h3>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-5 padding-bottom-30">
      <!--<h2>Coleman G Lauderdale</h2>-->
      <p>Coleman G Lauderdale is graduate of BlackHawk College in East Moline Ilinois.</p>
      <p>Born In the City Of Chicago,  He was raised In East Chicago Heights. Now Known as Ford Heights Ill.</p>
      <p>Having served a little over eight years of his life in prison, He was wrongfully Imprisoned on two seperate occasions, for two seperate crimes.These experiences has given himan in-depth and broad perspective on the inner workings of social engineering that shaped and conditioned his life.While his story is semi-autobiographical, The correlation of many of his experiences is mirrored in the many other Black lives that matter.</p>
      <img src="../../../assets/img/author/signature.png" class="img-responsive" alt="signature">
      <ul class="author-social-links">
        <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
        </li>
        <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-7">
      <img class="img-author img-responsive center-block grayscale" src="../../../assets/img/author/author.jpg" alt="Author-photo">
    </div>
  </div>
</div>