<div class="container">
  <div class="section-title text-center">
    <h2>Chapters Preview</h2>
    <h3>Have a peek inside the book for free</h3>
  </div>
  <div class="row">
    <div class="col-sm-3 padding-bottom-30">
      <h3>Get Sample Of Book</h3>
      <p>Get sample chapters of this awesome book now!</p> <a href="#subscribe" class="btn btn-primary">Get Sample</a>
    </div>
    <div class="col-sm-9">
      <div class="preview-carousel owl-carousel owl-theme">
        <div class="item preview-page">
          <a href="../../assets/img/book-preview/page-1.jpg" rel="prettyPhoto">
            <img class="img-responsive center-block" src="../../assets/img/book-preview/page-1.jpg" alt="">
          </a>
        </div>
        <div class="item preview-page">
          <a href="../../assets/img/book-preview/page-2.jpg" rel="prettyPhoto">
            <img class="img-responsive center-block" src="../../assets/img/book-preview/page-2.jpg" alt="">
          </a>
        </div>
        <div class="item preview-page">
          <a href="../../assets/img/book-preview/page-3.jpg" rel="prettyPhoto">
            <img class="img-responsive center-block" src="../../assets/img/book-preview/page-3.jpg" alt="">
          </a>
        </div>
        <div class="item preview-page">
          <a href="../../assets/img/book-preview/page-4.jpg" rel="prettyPhoto">
            <img class="img-responsive center-block" src="../../assets/img/book-preview/page-4.jpg" alt="">
          </a>
        </div>
        <div class="item preview-page">
          <a href="../../assets/img/book-preview/page-5.jpg" rel="prettyPhoto">
            <img class="img-responsive center-block" src="../../assets/img/book-preview/page-5.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>